Repository GDG-Nantes/DevfestNantesMobile, pull requests merged in 2022-10, with the labels that each got.

#69 Android/session type
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/ui/components/SessionType.kt
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/ui/screens/agenda/AgendaRow.kt
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/ui/screens/agenda/AgendaViewModel.kt
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/ui/screens/agenda/SessionFiltersDrawer.kt
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/ui/screens/session/SessionDetails.kt
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/utils/SessionFilter.kt
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/utils/SessionTypeUtils.kt
  androidApp/src/main/res/values-fr/strings.xml
  androidApp/src/main/res/values/strings.xml
Labels: enhancement, android

#78 📣 Adds support link to the settings.
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/MainActivity.kt
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/services/FirebaseAnalyticsService.kt
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/ui/screens/settings/Settings.kt
  androidApp/src/main/res/values-fr/strings.xml
  androidApp/src/main/res/values/strings.xml
  iosApp/iosApp/Analytics/FirebaseAnalyticsService.swift
  iosApp/iosApp/SwiftGen/Assets.swift
  shared/src/commonMain/kotlin/com/gdgnantes/devfest/analytics/AnalyticsEvent.kt
  shared/src/commonMain/kotlin/com/gdgnantes/devfest/analytics/AnalyticsService.kt
  shared/src/commonMain/kotlin/com/gdgnantes/devfest/model/WebLinks.kt
Labels: new feature, android

#79 📣 Adds open source licenses details.
  androidApp/src/main/assets/licenses.html
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/MainActivity.kt
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/ui/screens/Screen.kt
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/ui/screens/legal/LegalScreen.kt
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/ui/screens/settings/Settings.kt
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/ui/screens/settings/SettingsItem.kt
  androidApp/src/main/res/values-fr/strings.xml
  androidApp/src/main/res/values/strings.xml
  shared/src/commonMain/kotlin/com/gdgnantes/devfest/analytics/AnalyticsPage.kt
Labels: new feature, android

#82 Android/remote config
  androidApp/build.gradle.kts
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/MainActivity.kt
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/core/injection/AppModule.kt
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/ui/screens/session/FeedbackForm.kt
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/ui/screens/session/FeedbackFormViewModel.kt
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/ui/screens/session/SessionLayout.kt
  buildSrc/src/main/java/Dependencies.kt
Labels: enhancement, android

#84 Fix small typo on Readme
  README.md
Labels: documentation

#89 Android/venue map
  CHANGELOG.md
  androidApp/build.gradle.kts
  androidApp/google-services.json
  androidApp/proguard-rules.pro
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/services/FirebaseAnalyticsService.kt
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/ui/screens/Home.kt
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/ui/screens/venue/Venue.kt
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/ui/screens/venue/VenueDetails.kt
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/ui/screens/venue/VenueViewModel.kt
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/ui/screens/venue/plan/VenueFloorPlan.kt
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/utils/NavigationUtils.kt
  androidApp/src/main/res/values-fr/strings.xml
  androidApp/src/main/res/values/strings.xml
  build.gradle.kts
  iosApp/iosApp/Analytics/FirebaseAnalyticsService.swift
  iosApp/iosApp/Venue/VenueView.swift
  shared/src/commonMain/graphql/operations.graphql
  shared/src/commonMain/graphql/schema.graphqls
  shared/src/commonMain/kotlin/com/gdgnantes/devfest/analytics/AnalyticsEvent.kt
  shared/src/commonMain/kotlin/com/gdgnantes/devfest/analytics/AnalyticsService.kt
  shared/src/commonMain/kotlin/com/gdgnantes/devfest/model/Venue.kt
  shared/src/commonMain/kotlin/com/gdgnantes/devfest/model/stubs/StoreStubs.kt
  shared/src/commonMain/kotlin/com/gdgnantes/devfest/store/graphql/mappers.kt
Labels: enhancement, android, shared module

#94 🖼 Makes entire venue's layout to scroll.
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/ui/screens/venue/VenueDetails.kt
Labels: enhancement, android

#95 👍 Sort sessions by room names.
  CHANGELOG.md
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/ui/screens/agenda/AgendaColumn.kt
Labels: enhancement, android

#96 📣 Implements refresh for Agenda.
  CHANGELOG.md
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/ui/screens/agenda/AgendaViewModel.kt
Labels: enhancement, android

#97 🐛 Fixes sessions filtering
  CHANGELOG.md
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/ui/screens/agenda/AgendaViewModel.kt
Labels: bug, android
