Repository GDG-Nantes/DevfestNantesMobile, pull requests merged in 2023-10, with the labels that each got.

#148 📣 Automatically scrolls agenda pager to the current day and time index.
  androidApp/build.gradle.kts
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/ui/screens/agenda/Agenda.kt
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/ui/screens/agenda/AgendaColumn.kt
  buildSrc/src/main/java/Dependencies.kt
Labels: enhancement, android

#149 📣 Adds sort index for rooms as suggested in #88.
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/ui/screens/agenda/AgendaColumn.kt
  shared/src/commonMain/kotlin/com/gdgnantes/devfest/domain/RoomSortIndex.kt
  shared/src/commonMain/kotlin/com/gdgnantes/devfest/model/Room.kt
  shared/src/commonMain/kotlin/com/gdgnantes/devfest/model/stubs/RoomStubs.kt
  shared/src/commonMain/kotlin/com/gdgnantes/devfest/store/graphql/GraphQLStore.kt
  shared/src/commonMain/kotlin/com/gdgnantes/devfest/store/graphql/mappers.kt
Labels: android, shared module

#150 Configure cache ids
  androidApp/build.gradle.kts
  shared/build.gradle.kts
  shared/src/commonMain/kotlin/com/gdgnantes/devfest/store/graphql/Apollo.kt
  shared/src/commonMain/kotlin/com/gdgnantes/devfest/store/graphql/ApolloCache.kt
Labels: bug

#152 Android/openfeedback fallback
  CHANGELOG.md
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/MainActivity.kt
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/services/FirebaseAnalyticsService.kt
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/ui/screens/session/FeedbackForm.kt
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/ui/screens/session/FeedbackFormViewModel.kt
  androidApp/src/main/java/com/gdgnantes/devfest/androidapp/ui/screens/session/SessionLayout.kt
  shared/src/commonMain/kotlin/com/gdgnantes/devfest/model/WebLinks.kt
Labels: new feature, android
